@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #171A20;
  color: #F4F4F4;
}

/* 自定义滚动条 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #3E4042;
}
::-webkit-scrollbar-thumb {
  background: #5a5c5e;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #7a7c7e;
}
